body {
	width: 100%;
}

#login_header {
	padding: 10px;
	height: 200px;
		/*background: palevioletred;ÑÕÉ«*/
}

#login_header .h_top {
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

#login_header .h_top .h_list {
	float: left;
}

#login_header .h_top .h_list a {
	color: #DB7093;
	font-size: 16px;
	margin: 10px;
	padding: 10px;
}

#login_header .h_top .h_search {
	display: block;
	background-color: #FFFFFF;
	border-radius: 16px;
	transition: border-color .2s;
	border: 1px solid #ccd0d7;
	float: right;
}

#login_header .h_top .h_search .t_input {
	width: 200px;
	height: 30px;
	padding: 14px;
}

#login_header .h_top .h_search .t_button {
	background: url(../img/icons.png) -786px -721px;
	height: 30px;
	width: 30px;
}

#login_header .h_img {
	width: 100%;
	height: 120px;
	background-image: url(../img/bk2.png);
}

#center {
	display: block;
}

#center .title-line {
	width: 980px;
	height: 28px;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-align: center;
}

#center .title-line .tit {
	height: 56px;
	margin: 0 auto;
	padding: 0 20px;
	background: #fff;
	margin-bottom: 28px;
}

#center .regist-container {
	width: 980px;
	margin: 0 auto;
	display: block;
}

#center .regist-container form{
	display: block;
}

#center .regist-container .center_div {
	width: 420px;
	margin: 0 auto;
	border-radius: 3px;
	position: relative;
	text-align: center;
	display: block;

}

#center .regist-container .center_div  .form-group{
	width: 420px;
    margin: 0 auto;
    position: relative;
}

#center .regist-container .center_div .username {
	height: 40px;
	width: 395px;
	float: left;
	border-radius: 3px;
	padding: 10px;
	color: #a5a5a5;
	border: 1px solid #dfdfdf;
	margin-bottom: 30px;
	display: block;
}

#center .regist-container .center_div .upassword {
	height: 40px;
	width: 395px;
	float: left;
	border-radius: 3px;
	padding: 10px;
	color: #a5a5a5;
	border: 1px solid #dfdfdf;
	margin-bottom: 30px;
	display: block;
}
#center .regist-container .center_div .umail {
	height: 40px;
	width: 395px;
	float: left;
	border-radius: 3px;
	padding: 10px;
	color: #a5a5a5;
	border: 1px solid #dfdfdf;
	margin-bottom: 30px;
	display: block;
}


#center .center_div .descript {
	height: 40px;
	width: 395px;
	float: left;
	display: block;
}

#center .regist-container .center_div .go {
	height: 40px;
	width: 395px;
	background-color: #6495ED;
	display: block;
	margin-bottom: 10px;
}

#center .regist-container .direct_login {
	height: 40px;
	width: 395px;
	display: block;

}
#center .regist-container .direct_login a{
	float: right;
	color: #6495ED;
}